In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt 
import seaborn as sns 

#경고 메시지 숨기기
import warnings
warnings.filterwarnings(action='ignore')

In [8]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: F493-C621

 C:\machine_learning_guide\Data\wine_classification 디렉터리

2023-04-12  오전 10:53    <DIR>          .
2023-04-12  오전 10:53    <DIR>          ..
2023-04-12  오전 10:53             6,905 sample_submission.csv
2023-04-12  오전 10:53            73,676 test.csv
2023-04-12  오전 10:53           418,941 train.csv
               3개 파일             499,522 바이트
               2개 디렉터리  266,474,766,336 바이트 남음

In [7]:
cd C:\machine_learning_guide\Data\wine_classification

C:\machine_learning_guide\Data\wine_classification

In [9]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [10]:
train.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 5497 non-null   int64
 1   quality               5497 non-null   int64
 2   fixed acidity         5497 non-null   float64
 3   volatile acidity      5497 non-null   float64
 4   citric acid           5497 non-null   float64
 5   residual sugar        5497 non-null   float64
 6   chlorides             5497 non-null   float64
 7   free sulfur dioxide   5497 non-null   float64
 8   total sulfur dioxide  5497 non-null   float64
 9   density               5497 non-null   float64
 10  pH                    5497 non-null   float64
 11  sulphates             5497 non-null   float64
 12  alcohol               5497 non-null   float64
 13  type                  5497 non-null   object
dtypes: float64(11), int64(2), object(1)
memory usage: 601.4+ KB

In [12]:
test.head()

,index,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,9.0,0.31,0.48,6.6,0.043,11.0,73.0,0.99380,2.90,0.38,11.6,white
1,1,13.3,0.43,0.58,1.9,0.070,15.0,40.0,1.00040,3.06,0.49,9.0,red
2,2,6.5,0.28,0.27,5.2,0.040,44.0,179.0,0.99480,3.19,0.69,9.4,white
3,3,7.2,0.15,0.39,1.8,0.043,21.0,159.0,0.99480,3.52,0.47,10.0,white
4,4,6.8,0.26,0.26,2.0,0.019,23.5,72.0,0.99041,3.16,0.47,11.8,white

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 1000 non-null   int64
 1   fixed acidity         1000 non-null   float64
 2   volatile acidity      1000 non-null   float64
 3   citric acid           1000 non-null   float64
 4   residual sugar        1000 non-null   float64
 5   chlorides             1000 non-null   float64
 6   free sulfur dioxide   1000 non-null   float64
 7   total sulfur dioxide  1000 non-null   float64
 8   density               1000 non-null   float64
 9   pH                    1000 non-null   float64
 10  sulphates             1000 non-null   float64
 11  alcohol               1000 non-null   float64
 12  type                  1000 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 101.7+ KB

In [15]:
from sklearn.preprocessing import LabelEncoder

enc = LabelEncoder()
enc.fit(train['type'])
train['type'] = enc.transform(train['type'])
test['type'] = enc.transform(test['type'])

In [16]:
train['type']

0       1
1       0
2       1
3       1
4       1
       ..
5492    1
5493    1
5494    1
5495    1
5496    1
Name: type, Length: 5497, dtype: int32

In [17]:
train_x = train.drop(['index', 'quality'], axis=1)
train_y = train['quality']
test_x = test.drop('index', axis=1)

In [18]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()

model.fit(train_x, train_y)

RandomForestClassifier()

In [19]:
y_pred = model.predict(test_x)

In [20]:
submission = pd.read_csv('sample_submission.csv')

In [21]:
submission['quality'] = y_pred

In [22]:
submission

     index  quality
0        0        5
1        1        6
2        2        6
3        3        5
4        4        6
..     ...      ...
995    995        6
996    996        6
997    997        5
998    998        6
999    999        6

[1000 rows x 2 columns]

In [23]:
submission.to_csv("baseline.csv", index=False)

In [24]:
ls

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: F493-C621

 C:\machine_learning_guide\Data\wine_classification 디렉터리

2023-04-12  오후 03:02    <DIR>          .
2023-04-12  오후 03:02    <DIR>          ..
2023-04-12  오후 03:02             6,905 baseline.csv
2023-04-12  오전 10:53             6,905 sample_submission.csv
2023-04-12  오전 10:53            73,676 test.csv
2023-04-12  오전 10:53           418,941 train.csv
               4개 파일             506,427 바이트
               2개 디렉터리  266,466,443,264 바이트 남음